{% extends 'layoutAdmin.njk' %}

{% block head %}
    <link rel="stylesheet" href="/css/admin/form.css">
    <link rel="stylesheet" href="/css/admin/chefs.css">


{% endblock %}

{% block content %}

    <section class="container">
            
        <div class="intro">
            <h2>Gerenciar chefs</h2>
            <a href="/admin/chefs/create" id="only-button" style="text-decoration: none;">Novo chef</a>
        </div>

        <div class="chefs">

            {% for chef in chefs %}
            <div class="chefs-item">
                <div class="image-chef" style="background: url({{ chef.avatar_url }}) no-repeat center center / cover" >
                </div>
                <div class="description">
                    <h3>{{ chef.name }}</h3>
                    <a href="/admin/chefs/{{ chef.id }}">Visualizar</a>
                </div>
            </div>
            {% endfor %}

        </div>

    </section>

{% endblock content %}
