{% extends "layoutAdmin.njk" %}

{% block head %}

    <link rel="stylesheet" href="/css/admin/form.css">
    <link rel="stylesheet" href="/css/admin/chef.css">

{% endblock %}

{% block content %}
    
    <!-- ===== PRODUTCS ===== -->

<section class="max-width">

    <div class="intro">
        <h2>Chef: {{ chef.name }}</h2>
        <a href="/admin/chefs/{{chef.id}}/edit" id="only-button" style="text-decoration: none;">Editar chef</a>
    </div>

    <div class="chef">

        <img src="{{chef.avatar_url}}" alt="Fodo do {{chef.name}}">
        
        <div class="chef-description">
            <h1>{{ chef.name }}</h1>

        </div>
       
       <h2>Receitas</h2>

       {# {% for item in items %} #}
        {# <div> #}
            {# <a href="/recipes/{{ item.id }}"><img src="{{item.image}}" alt="Foto da receita {{item.title}}"></a> #}
            {# <h3 id="{{ item.id }}">{{item.title}}</h3> #}
            {# <p>{{item.chef_id}}</p> #}
            {# <a href="/recipes/{{ item.id }}">{{item.title}}</a> #}
        {# </div> #}
        {# {% endfor %} #}
    </div>


</section>

{% endblock %}