{% extends "layoutAdmin.njk" %}

{% block head %}

    <link rel="stylesheet" href="/css/admin/form.css">
    <link rel="stylesheet" href="/css/admin/chef.css">

{% endblock %}

{% block content %}
    
    <!-- ===== CHEF ===== -->

    <section class="container">

        <div class="intro">
            <h2>Chef: {{ chef.name }}</h2>
            <a href="/admin/chefs/{{ chef.id }}/edit" id="only-button" style="text-decoration: none;">Editar chef</a>
        </div>

        <div class="chef">
            <img src="{{chef.avatar_url}}" alt="Fodo do {{chef.name}}">
            <div class="chef-description">
                <h1>{{ chef.name }}</h1>
                <p>{{ chef.total_receipts }} receitas</p>
            </div>
        </div>

        <h2 class="recipe">Receitas</h2>

        <div class="recipe-chef">
            {% for recipe in recipes %}
            <div class="recipe">
                <div>
                    <a href="/recipes/{{ recipe.chefs.id }}"><img src="{{recipe.image}}" alt="Foto da receita {{recipe.title}}"></a>
                </div>
                <div class="recipe-description">
                    <h3 id="{{ recipe.id }}">{{recipe.title}}</h3>
                    <p>por {{ chef.name }}</p>
                    <a href="/recipes/{{ recipe.id }}">Visualizar</a>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>

{% endblock %}