{% extends "layoutAdmin.njk" %}

{% block head %}

    <link rel="stylesheet" href="/css/admin/form.css">

{% endblock %}

{% block content %}

<section class="max-width">

    <form action="/admin/recipes?_method=PUT" method="POST" class="form">
        
        <div class="intro">
            <div>
                <h2>Editando Receita</h2>
            </div>

            <div class="button">
                    <button id="del-button" type="submit" form="form-delete">Deletar</button>
                    <button id="only-button" type="submit">Salvar receita</button>    
                    <input 
                        type="hidden" 
                        name="id" 
                        value="{{items.id}}">
            </div>
        </div>

        <h3>Imagem da receita</h3>
        <div>
            <input 
                type="url" 
                name="image"
                placeholder="https://"
                value="{{ items.image }}"
            >
        </div>

        <h3>Chef</h3>
        <div>
            <select name="chef">
                {% for chef in chefOptions %}
                <option value="{{ chef.id }}" {% if receipts.chef_id == chef.id %}selected{% endif %}>
                    {{ chef.name }}
                </option>
                {% endfor %}
            </select>
        </div>

        <h3>Ingredientes</h3>
        <div id="ingredients">       
            <div class="ingredient">
                <input 
                    type="text" 
                    name="ingredients[]"
                    value="{{ items.ingredients }}"
                    
                >
            </div>
        </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>

        <h3>Modo de preparo</h3>
        <div id="preparations">
            <div class="preparation">
                <input 
                    type="text"
                    name="preparation[]"
                    value="{{ items.preparation }}"
                >
            </div>
        </div>
        <button type="button" class="add-preparation">Adicionar novo passo</button>

        <h3>Informações adicionais</h3>
        <div>
            <textarea 
            name="information"
            value="{{ items.information }}"
            
            >
            </textarea>
        </div>
        

        <input 
            type="hidden" 
            name="id" 
            value="{{ recipe.id }}">
    </form>

    <form id="form-delete" action="/admin/recipes?_method=DELETE" method="POST">
        <input type="hidden" name="id" value="{{ items.id }}">
    </form>
</section>

<script src="/js/addIngredient.js"></script>
<script src="/js/addPreparation.js"></script>

{% endblock content %}