/* ==== SEARCH ==== */

.nav-menu form {
    display: flex;
    justify-content: flex-end;
}

.nav-menu form input {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 246px;
    height: 37px;
    padding: 15px 10px;
    outline: none;
}

.nav-menu form button {
    background-color: #6558C3;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    width: 91px;
    height: 37px;
    cursor: pointer;
    margin-left: 8px;
}

/* ==== MAIN ==== */

.bg-main {
    max-width: 940px;
    height: 366px;
    margin: 0 auto;
    background: #FBDFDB;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bg-main img {
    margin-top: 66px;
    max-height: 300px;
    max-width: 216px;
}

.intro {
    max-width: 320px;
}

.intro h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.intro p {
    font-size: 18px;
    line-height: 28px;
    opacity: 0.7;
}

/* ==== RECIPES ==== */

.recipes {
    max-width: 940px;
    margin: 0 auto;
}

.recipes h2 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin-top: 22px;
    margin-bottom: 20px;
}

.recipes-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 60px;
}

.recipes-item img {
    width: 300px;
    height: 140px;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
}

.recipes-item h3 {
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    margin-top: 15px;
    padding: 5px 5px 5px 0;
}

.recipes-item h3:hover {
    text-decoration: underline;
}

.recipes-item p {
    color: #777;
    font-size: 14px;
}
