/* ==== GENERAL STYLES ==== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
}

body, a {
    color: #111;
    font-family: 'Roboto', sans-serif;
}

/* ==== HEADER ==== */

.nav-menu {
    max-width: 940px;
    margin: 30px auto;
    display: grid;
    grid-template-columns:1fr 2fr 2fr; 
}

.nav-menu ul li {
    display: inline;
    font-size: 16px;
    margin-right: 10px;
}

.nav-menu ul li a:hover {
    font-weight: 500;
}

/* ==== FOOTER ==== */

.footer {
    background: #eee;
    color: #999999;
    padding: 12px 0;
    font-size: 14px;
    text-align: center;
}

footer p {
    margin: 16px;
}
