/* ===== ABOUT ===== */

.sobre {
    max-width: 940px;
    margin: 0  auto;
}

.sobre p {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
    margin: 30px 0;
}

.sobre h3 {
    font-size: 20px;
    font-weight: bold;
}

/* ==== FOOTER ==== */

footer {
    margin-top: 20px;
    background: #eee;
    width: 100%;
    color: #999;
    padding: 23px 0;
    font-size: 14px;
    text-align: center;
}
