/* ==== GENERAL STYLES ==== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
}

body, a {
    color: #111;
    font-family: 'Roboto', sans-serif;
}

.bg-header {
    background-color: #111;
    padding: 25px 0;
}

.nav-menu {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    max-width: 940px;
    margin: 0 auto;
}

.nav-menu ul li {
    color: #999;
    display: inline;
    font-size: 15px;
    margin-left: 30px;
    text-transform: uppercase;
}

.nav-menu a {
    color: #999;
    font-weight: bold;
}

.nav-menu a:hover {
    color: #fff;
}
