{% extends "layoutUser.njk" %}

{% block head %}

    <link rel="stylesheet" href="/css/user/chefs.css">    

    <title>Chefs | Foodfy</title>

{% endblock %}

{% block content %}
    
    <section class="max-width">

    <!-- ===== CHEFS ===== -->        

        <div class="chefs">

            {% for chef in chefs %}
            <div class="chefs-item" id="{{ loop.index }}">
                <div class="avatar" style="background: url({{ chef.avatar_url }}) no-repeat center center / cover" >
                </div>
                <div class="description">
                    <h3 id="{{ loop.index }}">{{chef.name}}</h3>
                    <p>{{ chef.total_receipts }} Receitas</p>            
                </div>
            </div>
            {% endfor %}

        </div>

    </section>
<script src="/js/openPageUser.js"></script>
{% endblock %}
