{% extends "layoutUser.njk" %}

{% block head %}

    <link rel="stylesheet" href="/css/user/index.css">
    <title>Home | Foodfy</title>

{% endblock %}

{% block search %}
    <form action="" method="get">
        <input 
            type="search" 
            name="filter" 
            placeholder="Buscar uma receita"
        >
        <button type="submit">Buscar</button>            
    </form>
{% endblock %}

{% block content %}
    
    <!-- ===== MAIN ===== -->

    <main class="bg-main">
        <div class="intro">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas 
            criadas por profissionais do mundo inteiro.</p>
        </div>
        <img src="/assets/chef.png" alt="" srcset="">
    </main>

    <!-- ===== RECIPES ===== -->

    <div class="recipes">

        <h2>Mais acessadas</h2>

        <div class="recipes-item">
            {% for recipe in recipes %}
            <div>
                <a href="/recipes/{{ recipe.id }}"><img src="{{recipe.image}}" alt="Foto da receita {{recipe.title}}"></a>
                <a href="/recipes/{{ recipe.id }}"><h3>{{recipe.title}}</h3></a>
                <p>por {{ recipe.chef_name }}</p>
            </div>
            {% endfor %}
        </div>
        
    </div>

    <footer>
        <p>Todos direitos reservados, receitas foodfy.</p>
    </footer>

{% endblock %}
