{% extends "layoutUser.njk" %}

{% block head %}

    <link rel="stylesheet" href="/css/user/recipe.css">

    <title>{{item.title}} | Foodfy</title>

{% endblock %}

{% block content %}
    
    <!-- ===== RECIPE ===== -->

<section class="max-width">
    <div class="recipe">

        <img src="{{item.image}}" alt="Foto do {{items.title}}">
        
        <div class="recipe-description">
            <h1>{{item.title}}</h1>
            <p>por {{item.author}}</p>

        </div>
        <div class="recipe-info">
            <dl class="js-accordion">

                <dt>Ingredientes</dt>
                <dd>
                    {% for ingredients in item.ingredients %}
                    <li>{{ingredients}}</li>
                    {% endfor %}
                </dd>

                <dt>Modo de Preparo</dt>
                <dd>
                    {% for preparation in item.preparation %}   
                    <li>{{preparation}}</li>
                    {% endfor %}
                </dd>

                <dt>Informações adicionais</dt>
                <dd>{{ items.information | striptags(true) | escape | nl2br }}</dd>
            </dl>
        </div>

    </div>
</section>
<script src="/js/show.js"></script>
{% endblock %}