{% extends "layoutUser.njk" %}

{% block head %}

    <link rel="stylesheet" href="/css/user/recipe.css">
    <title>{{recipe.title}} | Foodfy</title>

{% endblock %}

{% block content %}
    
    <!-- ===== RECIPE ===== -->

    <div class="recipe">

        <img src="{{recipe.image}}" alt="Foto do {{recipe.title}}">
        
        <div class="recipe-description">
            <h1>{{recipe.title}}</h1>
            <p>por {{recipe.chef_name}}</p>
        </div>
        <div class="recipe-info">
            <dl class="js-accordion">

                <dt>Ingredientes</dt>
                <dd>
                    {% for ingredients in recipe.ingredients %}
                    <li>{{ingredients}}</li>
                    {% endfor %}
                </dd>

                <dt>Modo de Preparo</dt>
                <dd>
                    {% for preparation in recipe.preparation %}   
                    <li>{{preparation}}</li>
                    {% endfor %}
                </dd>

                <dt>Informações adicionais</dt>
                <dd>{{ recipe.information | striptags(true) | escape | nl2br }}</dd>
            </dl>
        </div>

    </div>

    <script src="/js/show.js"></script>
{% endblock %}
