{% extends "layoutUser.njk" %}

{% block head %}
    <link rel="stylesheet" href="/css/user/index.css">
    
    <title>Receitas | Foodfy</title>

{% endblock %}

{% block content %}
    
    <section class="max-width">

    <!-- ===== RECIPES ===== -->        

        <div class="recipes">

            <h2>Receitas</h2>

            <div class="recipes-item">
                {% for recipe in recipes %}
                <div>
                    <a href="/recipes/{{ recipe.id }}"><img src="{{recipe.image}}" alt="Foto da receita {{item.title}}"></a>
                    <a href="/recipes/{{ recipe.id }}">{{recipe.title}}</a>                    
                    <p>{{recipe.chef_name}}</p>
                </div>
                {% endfor %}

        </div>

    </section>
{% endblock %}
