{% extends "layoutUser.njk" %}

{% block head %}

    <link rel="stylesheet" href="/css/user/index.css">
    <title>Receitas | Foodfy</title>

{% endblock %}

{% block search %}
    <form action="" method="get">
        <input 
            type="search" 
            name="filter" 
            placeholder="Buscar uma receita"
        >
        <button type="submit">Buscar</button>            
    </form>
{% endblock %}

{% block content %}

    <!-- ===== RECIPES ===== -->        

    <div class="recipes">

        <h2>Buscando por "{{filter}}"</h2>

        <div class="recipes-item">
            {% for recipe in recipes %}
            <div>
                <a href="/recipes/{{ recipe.id }}"><img src="{{recipe.image}}" alt="Foto da receita {{item.title}}"></a>
                <a href="/recipes/{{ recipe.id }}"><h3>{{recipe.title}}</h3></a>                    
                <p>por {{recipe.chef_name}}</p>
            </div>
            {% endfor %}
        </div>

    </div>

{% endblock %}
